.cover__link{
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  background: url(../../../images/cover-trains.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}


@media screen and (max-width: 1279px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}