.photo-grid {
  max-width: 1184px;
  height: 100%;
  margin: 71px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    margin: 92px auto 0;
    gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    margin: 88px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    margin: 64px auto 0;
    gap: 12px;
  }
}
