@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./vendor/fonts/inter/regular/Inter-Regular.woff2") format("woff2"),
    url("./vendor/fonts/inter/regular/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./vendor/fonts/inter/bold/Inter-Bold.woff2") format("woff2"),
    url("./vendor/fonts/inter/bold/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./vendor/fonts/inter/black/Inter-Black.woff2") format("woff2"),
    url("./vendor/fonts/inter/black/Inter-Black.woff") format("woff");
}
.page {
  min-width: 320px;
  max-width: 1280px;
  font-family: Inter;
  background: #2a2c2f;
  margin: 0 auto;
}
.header {
  max-width: 1184px;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
}
.header__lang-links {
  list-style-type: none;
  display: flex;
  margin: 18px 0 6px;
  padding: 0;
}
.header__lang-link {
  width: 30px;
  margin-left: 18px;
}
.header__lang-link:first-of-type {
  margin-left: 0;
}
.header__language {
  font-size: 24px;
  font-family: Inter;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}
.header__language:hover {
  color: rgb(15, 160, 22);
  transition: color 0.5s linear 0.5s;
}
.lead {
  max-width: 984px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  margin: 56px 148px 0;
}
.lead__title {
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  font-family: Inter;
  color: #fff;
  margin: 0 132px 0;
  flex-shrink: 0;
}
.lead__subtitle {
  width: 640px;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  margin: 32px auto 0;
  flex-shrink: 0;
}
.lead__image {
  max-width: 984px;
  max-height: 615px;
  padding-top: 64px;
  width: 100%;
}
.lead__caption {
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 400;
  margin: 8px 0 0;
  letter-spacing: 1.5px;
}
.intro {
  max-width: 690px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  margin: 113px 421px 0 169px;
  color: #fff;
}
.intro__title {
  width: 100%;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 40px;
}
.intro__text {
  width: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 163%;
}
.intro__list {
  margin: 33px 0 0;
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.photo-grid {
  max-width: 1184px;
  height: 100%;
  margin: 71px 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}
.photo-grid__item {
  width: 284px;
  height: 213px;
}

.places {
  max-width: 984px;
  height: 100%;
  color: #fff;
  font-family: Inter;
  margin: 92px auto 0;
  display: grid;
  row-gap: 80px;
}
.place {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 40px;
  row-gap: 48px;
}
.place__image {
  max-width: 460px;
  max-height: 460px;
}
.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  padding: 0;
}
.place__website {
  display: grid;
  align-self: end;
  align-content: space-between;
  row-gap: 12px;
}
.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #fff;
}
.place__link:hover {
  color: rgb(15, 160, 22);
  transition: color 0.5s linear 0.5s;
}
.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
}
.place__paragraphs {
  display: grid;
  align-self: start;
  row-gap: 26px;
}
.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}
.cover {
  max-width: 1184px;
  height: 740px;
  margin: 92px auto 0;
  background: url(./images/cover-trains.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.cover:hover {
  opacity: 0.800000011920929;
}
.cover__title {
  max-width: 560px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  margin: 245px auto 0;
}
.cover__subtitle {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;
  margin: 32px auto 0;
}
.cover__link {
  text-decoration: none;
}
.footer {
  color: #fff;
  background: #2a2c2f;
  max-width: 1184px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
}
.footer__links {
  display: flex;
  list-style-type: none;
  color: #fff;
  gap: 18px;
  padding: 0;
  margin: 0 0 24px;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__link:hover {
  color: rgb(15, 160, 22);
  transition: color 0.5s linear 0.5s;
}
.footer__copyright {
  margin: 0 0 24px;
}
