.place__paragraphs {
  display: grid;
  align-self: start;
  row-gap: 26px;
}
@media screen and (max-width: 1023px) {
  .place__paragraphs {
    row-gap: 25px;
  }
}
@media screen and (max-width: 767px) {
  .place__paragraphs {
    row-gap: 25px;
    margin: 0 auto 0;
    width: 288px;
  }
}
