.footer__links {
  display: flex;
  list-style-type: none;
  color: #fff;
  gap: 32px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}
